/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  max-width: 500px;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap !important; 
 white-space: -pre-wrap;  
 white-space: -o-pre-wrap;    
 word-wrap: break-word;       
 width: 99%;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 5px 15px 15px 15px;
  position: relative;
  border-bottom: #315481 solid 5px;
}

.editGroupButton {
  float: left;
}

.deleteGroupButton {
  float: right;
}

.edit {
 clear: right;
 clear: left;
 display: none;
}

.addGroup {
 width: 175px;
}

.editGroup {
 width: 75px;
}
 
ul {
  clear: right;
  clear: left;
  margin: 0;
  padding: 0;
  background: white;
}

.posts_list {
  background: #d2edf4;
  display: none;
}

.li_feed {
  background: #d2edf4;
  border-bottom: #315481 solid 5px;
}
 
li {
  position: relative;
  background: white;
  list-style: none;
  padding: 15px;
  border: #315481 solid 1px;
}