/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap !important; 
 white-space: -pre-wrap;  
 white-space: -o-pre-wrap;    
 word-wrap: break-word;       
 width: 99%;
}
 
.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #315481;
}
 
header {
  background-color: #F5F5F5;
  padding: 5px 15px 15px 15px;
  position: relative;
}

.editGroupButton {
  float: left;
}

.deleteGroupButton {
  float: right;
}

.add {
 clear: right;
 clear: left;
}

.addGroup{
  margin-right: 1%;
  float: left;
}

.text{
  clear: right;
  clear: left;
}

.addGroup {
 width: 175px;
}

.editGroup {
 width: 75px;
}
 
ul {
  clear: right;
  clear: left;
  margin: 0;
  padding: 0;
  background-color: #315481;;
}

.posts_list {
  background: white;
  overflow: auto;
  height: 750px;
  border: #315481 solid 1px;
}

.li_feed {
  position: inherit;
  vertical-align: top;
  width: 30%;
  margin-top: 5px;
  margin-left: 1%;
  margin-bottom: 5px;
  display: inline-block;
  background: #00FFFF;
}
 
li {
  position: relative;
  background: white;
  list-style: none;
  padding: 15px;
  margin: auto;
  border: #315481 solid 1px;
}